.title1 {
    text-decoration: underline;
    color: white;
    background-color: black;
    padding: 10px;
    text-align: justify;
    width: fit-content;
    border-radius: 23% 77% 21% 79% / 73% 19% 81% 27%;
    border-left: 3px gray solid;
    font-family: 'Roboto Condensed', sans-serif;
}
.body1 {
    background-image: url(https://th.bing.com/th/id/OIP.ZH29fBTrOEuM3iqEL4Hx_AHaE5?pid=ImgDet&rs=1);
    background-attachment: fixed;
    background-size: cover;
}
.body1, .body2, .body3 {
    font-family: Arial, Helvetica, sans-serif;
}
.home {
    width: 90px;
    background-color: #ff9090;
    text-align: justify;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.home:hover {
    box-shadow: 0px 0px 0px rgb(0,0,0);
}
.specialcase {
    width: 90px;
    background-color: #ff7070;
    text-align: justify;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.specialcase:hover {
    box-shadow: 0px 0px 0px rgb(0,0,0);
}
.info {
    width: 90px;
    background-color: #ff6060;
    text-align: justify;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.info:hover {
    box-shadow: 0px 0px 0px rgb(0,0,0);
}
.container {
    display: flex;
    gap: 5px;
}